html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

#top-text {
    margin-top: 0;
}

/* remove top margin from p tags to stop text from extending
body height when spans are absolutely positioned */
/* p {
    margin-top: 0;
} */

/* styles for objects in Realm */
/* .phys-obj {
    position: absolute;
} */